{% extends "base.html" %}

{% block content %}

    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <p class="ssolink"> {{ message }} </p>
    </div>

    <div class="accueil">
        <h1>BIENVENUE À SIMPLON CÔTE D'IVOIRE</h1>
    </div>

    <div id=#lien>
        <a class="lien" href="https://web.facebook.com/SimplonCI/?_rdc=1&_rdr">Découvrir Simplon</a>
        <a class="lien" href="/login">Espace de connexion</a>
    </div>


{% endblock content %}